.m-superstar-dps-null {
    .x;
    .mt(15vh);
    color: #252328;
    min-height: 30vh;
}
.m-superstar-box {
    padding: 60px 0;
    .w(1200px);
    // .mt(40px);
    .u-boss {
        background-color: #454447 !important;
        &.active {
            color: #252328;
            background-color: #fef2da !important;
            &:hover {
                color: #252328;
            }
        }
        &:hover {
            color: #fff;
        }
        .u-boss-name {
            .fz(15px);
        }
    }
}
.m-superstar-dps {
    .u-center {
        background-image: url("@{superstar}center.jpg");
        background-size: 100%;
        background-repeat: repeat-y;
        padding: 0 50px 10px 50px;
        .u-dps-item {
            .h(52px);
            border: 1px dashed #f5cba4;
            .flex;
            align-items: center;
            .mb(20px);
            &:hover {
                background-color: #616161;
            }
        }
        .u-team-img {
            .size(36px);
            padding: 0 20px;
        }
        .u-team-data,
        .u-team-name {
            .fz(14px,18.5px);
            .bold(400);
        }
        .u-team-name {
            .w(70px);
            .x;
            border-right: 1px solid #f5cba4;
            color: #8bffff;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
        }
        .u-team-data {
            .ml(20px);
            color: #f5cba4;
            .u-battle-jcl {
                a {
                    color: #f5cba4;
                    text-decoration: underline;
                }
                a:first-child {
                    margin-right: 16px;
                }
            }
        }
    }
    .u-top {
        .h(114px);
        .pr;
        .u-title {
            .pa;
            z-index: 2;
            .lt(556.7px,30px);
        }
    }
}
