.m-introduce {
    padding: 60px 0;
    .u-shadow {
        box-shadow: 0 0 10px 0px #252328;
        background-color: #242227;
    }

    .w(1200px);
    .u-top {
        .h(114px);
        .pr;
        .u-title {
            .pa;
            z-index: 2;
            .lt(507px,30px);
        }
    }
    .u-center {
        background-image: url("@{superstar}center.jpg");
        background-size: 100%;
        background-repeat: repeat-y;
        padding: 0 50px;
    }
}
