.m-sign-up {
    padding: 60px 0;
    .u-shadow {
        box-shadow: 0 0 10px 0px #252328;
        background-color: #242227;
    }

    .w(1200px);
    .u-top {
        .h(114px);
        .pr;
        .u-title {
            .pa;
            z-index: 2;
            .lt(556.7px,30px);
        }
    }
    .u-center {
        background-image: url("@{superstar}center.jpg");
        background-size: 100%;
        background-repeat: repeat-y;
        padding: 0 50px;
        // .fz(14px,20px);
        color: #f5cba4 !important;
        // .u-events-time {
        //     padding-bottom: 20px;
        // }
        // .u-team-demand,
        // .u-events-flow {
        //     padding: 40px 0 20px 0;
        // }
        // .u-text {
        //     padding-bottom: 10px;
        //     box-sizing: border-box;
        //     &.u-null {
        //         padding-left: 26px;
        //     }
        //     a {
        //         color: #8bffff;
        //         padding: 0 4px;
        //         text-decoration: underline;
        //     }
        // }
        // .u-team-rule {
        //     margin: 0;
        //     li {
        //         padding-bottom: 10px;
        //     }
        // }
        // .u-sign-up-btn {
        //     text-align: center;
        //     // padding: 70px 0;
        //     cursor: pointer;
        //     &:hover {
        //         img {
        //             box-shadow: 0 0 10px 0 rgba(28, 96, 93, 0.3);
        //         }
        //     }
        // }
        // .u-events-rewards {
        //     padding-bottom: 20px;
        // }
    }
}
