.m-rank-container{
    .mt(@header-height);
    background:url('/index/bg.png') no-repeat center top;
    background-color:#1e2226;
    min-height:680px;
}

.c-footer{
    margin:20px auto 0 auto!important;
    max-width: 1020px;
    .auto(x);
    padding:20px 0;
}