.m-rank-container{
    background:url('@{img}common/bg.png')  center top no-repeat;
    background-size:100% auto;
}

.m-rank-bg-2{
    background:url('@{img}race/2/bg.png') no-repeat center top;
}

.m-rank-bg-5{
    background:url('@{img}race/5/bg.png') no-repeat center top;
}

.m-rank-bg-6{
    background:url('@{img}race/6/bg.png') no-repeat center top;
}

.m-rank-bg-7{
    background:url('@{img}race/7/bg.png') no-repeat center top;
}

.m-rank-bg-8{
    background:url('@{img}race/8/bg.png') no-repeat center top;
}