@import './app.less';

.m-rank-index{

}

.m-rank-header{
    min-height:638px;
}

.m-rank-content{
    max-width:1080px;
    .auto(x);

    ul{
        padding:0;
        margin:0;
        list-style:none;
        .clearfix;
    }

    li{
        .fl;
        .w(360px);

        a{
            .db;
            .w(300px);
            .h(180px);
            margin:30px;

            // demo
            background-color:@bg-black;
            .x;
            color:#fff;
        }
    }
}

