@import './app.less';
.m-rank-container{
    background-size:60% auto;
}

.m-rank-header{
    min-height:300px;
}

.m-rank-content{
    max-width:1020px;
    .auto(x);
}

.m-join{
    background-color:#fff;
    padding:20px 20px 60px 20px;
    .r(4px);
}

.m-join-title{
    .x;
    font-weight:300;
}

.m-join-form{
    .el-select{
        .db;
    }
    .el-input{
        .w(100%);
    }
    .u-warning{
        .x;
        .fz(14px);
    }
    .u-btns{
        .x;
        .mt(20px);
        .u-btn{
            .w(280px);
        }
    }
    a{.underline(@color-link);}
}

.c-footer{
    .mt(40px) !important;
}
