.m-race-header{
    .u-boss{
        .auto(x);
        .db;
        .h(640px);
    }
    .u-sponsors{
        .x;
        color:#eee;
        .fz(12px);

        ul{
            list-style: none;
            padding:0;
            margin:0;
            .clearfix;
            .dbi;
            .y;
        }
        li{
            .db;
            .fl;
            .mr(10px);
        }
        a{
            .db;
            img{
                .h(40px);
            }
        }
    }
}