.m-race-header{
    .pr;
    .u-boss{
        .auto(x);
        .db;
        .h(640px);
    }
    .u-logo{
        .w(600px);
        .db;.auto(x);
        .pa;top:120px;
        left:50%;
        transform: translateX(-50%);
    }
    .u-version{
        .w(200px);
        .db;.auto(x);
        .pa;top:520px;
        left:50%;
        transform: translateX(-50%);
    }
    .u-sponsors{
        .mt(20px);
        .x;
        color:#eee;
        .fz(12px);

        ul{
            list-style: none;
            padding:0;
            margin:0;
            .clearfix;
            .dbi;
            .y;
        }
        li{
            .db;
            .fl;
            .mr(20px);
        }
        a{
            .db;
            img{
                .h(40px);
            }
        }
    }
}