@import './app.less';

#m-rank-star{
    .pa;.lt(0);
    .w(100%);
}

.m-rank-header{
    min-height:600px;
    padding-top:50px;
}

.m-rank-race{
    max-width:1080px;
    .auto(x);
}

.m-rank-content{
    min-height:800px ;
}