.m-rank-rank {
    .mt(40px);
    // width: 86.7% !important;
    // min-width: 1080px;
    // max-width: 95% !important;
    // .auto(x);
}

.m-rank-boss {
    padding: 0;
    margin: 0;
    list-style: none;
    .x;
    .el-col {
        flex-grow: 1;
    }

    .u-boss {
        .db;
        .pointer;
        .bold;
        .mb(20px);
        .fz(16px, 50px);
        .x;
        position: relative;
        background-color: #3e576d;
        padding: 0 10px 0 50px;
        color: #ffedc6;
        height: 50px;
        transition: 0.1s ease-in-out;
        border-bottom-right-radius: 10px;

        &:last-child {
            .mr(0);
        }
        &:hover {
            background-color: #5a7c99;
            color: #ffedc6;
        }
        &.u-boss-is_all {
            padding: 0 10px;
        }
        &.on {
            background-color: #ffedc6;
            color: #703100;
        }
    }
    .u-boss-icon {
        .size(50px);
        display: block;
        position: absolute;
        left: 0;
        top: 0;
    }
    .u-boss-per {
        .fz(12px);
        color: #aaa;
        .ml(5px);

        &.isLess {
            color: #49c10f;
        }
        &.isMore {
            color: #fba524;
        }
        &.isDanger {
            color: #fd3c1d;
        }
        &.isFull {
            color: rgba(255, 255, 255, 0.49);
        }
    }
}

.m-rank-server {
    .u-server {
        .db;
        .w(100%);

        input {
            background: #333;
            border-color: #555;
            color: #eee;
        }
    }

    .u-pre {
        color: #fff;
        margin-right: 5px;
        display: inline-flex;
        align-items: center;
        height: 30px !important;


        .el-checkbox__input {
            top: 1px;
        }

        &.is-checked {
            .el-checkbox__inner {
                background-color: #ffedc6;
                border-color: #ffedc6;

                &::after {
                    border-color: #703100;
                }
            }
            .el-checkbox__label {
                color: #ffedc6;
            }

            border-color: #ffedc6;
        }
    }

    ul,
    div {
        list-style: none;
        .clearfix;
        padding: 0;
        margin: 0;
        display: flex;
    }
    li,
    a {
        .fl;
        .w(80px);
        background-color: #3e576d;
        .mr(5px);
        .mb(5px);
        .x;
        .fz(12px,2.5);
        color: #ffedc6;
        .pointer;
        &:hover {
            background-color: #5a7c99;
            color: #ffedc6;
        }
    }
    .on,
    .router-link-exact-active {
        .bold;
        color: #703100;
        background-color: #ffedc6;
        &:hover {
            color: #703100;
            background-color: #ffedc6;
        }
    }
}

.m-rank-top100-null {
    .x;
    .mt(15vh);
    color: #0cf;
}

.m-rank-top100-item {
    // border: 1px solid #777;
    background: linear-gradient(90deg, #3f586e 0%, #264259 50%);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.23);
    .mb(20px);
    .pr;
    border-left: 4px solid #ffedc6;
    border-bottom-right-radius: 20px;
    @padding: 40px;
    @logosize: 88px;
    @leftspace: 40px + @logosize + 20px;
    @logopadding: 5px;
    padding: @padding;
    padding-bottom: @padding - 10px;
    .pl(100px + @logosize + @logopadding*2);

    &:hover {
        background: linear-gradient(90deg, rgba(38, 66, 89, 1) 0%, rgba(63, 88, 110, 1) 50%);
    }

    .u-ranking {
        .fz(32px, 52px);
        color: #66afff;
        .pa;
        .x;
        .w(115px);
        background: url("@{img}common/ranking_number_bg.svg");
        background-size: 100% 100%;
        left: 0;
        top: 0;
        span {
            cursor: default;
        }
    }

    .u-logo {
        .db;

        .el-image {
            .db;
            .size(120px);
            img {
                .full;
                .db;
            }
        }

        .pa;
        .lt(38px, 80px);
    }

    .u-title {
        .db;
        i {
            color: #eee;
            .mr(5px);
        }
        .mb(6px);
    }

    .u-teamname {
        .nobreak;
        .mr(5px);
        color: #ffedc6;
        .fz(24px, 24px);
        .bold;

        &:hover {
            // color: #f39;
            // i {
            //     color: #f39;
            // }
        }

        &.u-teamname-null {
            color: #aaa;
            &:hover {
                color: #aaa;
            }
        }
    }

    .u-server {
        &:before {
            content: "@";
        }
        color: #fff;
        font-weight: bold;
        .fz(12px);
    }

    .u-verified,
    .u-not-verified {
        .fz(16px, 40px);
        .ml(5px);
        .mr(3px);
        .fz(14px);
    }
    .u-verified {
        color: #7ecb83;
    }
    .u-not-verified {
        color: #d04949;
    }

    .u-time {
        .pa;
        .rt(40px);
        font-size: 12px;
        cursor: default;

        .u-time-finish {
            color: rgba(255, 255, 255, 0.5);
            display: block;
        }
        .u-time-fight {
            color: white;
        }
    }

    .u-time-fight {
        .x(right);
        b {
            color: #ffedc6;
            .fz(20px);
        }
    }

    .u-teammates {
        .clearfix;
        .mt(10px);
    }

    .u-leader {
        .bold;
        .fz(14px, 24px);
        color: #fff;
        .u-username {
            .y(top);
            white-space: visible;
            .w(auto);
        }
    }
    .u-mount {
        .size(24px);
        .y(top);
        .mr(2px);
    }

    .u-member {
        .fz(12px);
        .mb(5px);

        &-content {
            .flex;
            align-items: center;
        }
    }

    .u-username {
        .nobreak;
        color: #fff;
        width: 97px;
        display: inline-block;
        vertical-align: middle;
    }

    .u-youngster {
        padding:0 10px;
        .u-chanlian,
        .u-heima,
        .u-wangzhe {
            .size(120px,31px);

            .pr;
            top:10px;
        }
    }

    &.is-No1,&.is-No2,&.is-No3 {
        .u-chanlian,
        .u-heima,
        .u-wangzhe {
            top:5px;
        }
    }
}

.m-rank-top100 {
    .pr;
    .mt(80px);
}

.m-rank-top100-list {
    @w: (@box_width - 40px) / 3;

    .is-No1,
    .is-No2,
    .is-No3 {
        .w(@w);
        box-sizing: border-box;
        .pr;
        padding: 0;
        padding-bottom: 20px;
        background: linear-gradient(180deg, #3f586e 0%, #264259 50%);
        border-left: none;
        border-top: 5px solid #ffedc6;

        .u-ranking {
            .pa;
            .lt(50%, -50px);
            transform: translateX(-50%);
            .w(140px);
            background: none;
            span {
                .none;
            }
        }

        .u-logo {
            img,
            .el-image {
                .size(120px);
                .auto(x);
            }
            .ps;
            .auto(x);
            .db;
        }

        .u-title {
            .x;
            .mt(20px);
        }
        .u-time {
            .ps;
            span {
                .db;
                .x;
            }
            // border-bottom: 1px solid #787878;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }

        .u-youngster-time {
            padding-bottom: 0;
            margin-bottom: 0;
        }
        .u-teamname {
            .db;
        }

        .u-leader {
            .x;
            .u-username {
                width: auto;
                max-width: 80%;
            }
        }
        .u-teammates {
            padding: 0 10px;
            .u-username {
                .w(95px);
            }
        }

        .u-youngster {
            .x;
            .db;
            .pr;
            top: unset;
            margin-left: unset;
        }
    }
    .is-No2,
    .is-No3 {
        .pa;
    }

    @basic: 100px;
    @no2add: 20px;
    @no3add: 40px;

    .is-No1 {
        .ml(@w + 20px);
        .u-logo {
            .pt(@basic);
        }
        .u-ranking {
            .w(180px);
        }
    }
    .is-No2 {
        .lt(0, @no2add);
        .u-logo {
            .pt(@basic - @no2add);
        }
    }
    .is-No3 {
        .rt(0, @no3add);
        .u-logo {
            .pt(@basic - @no3add);
        }
    }
    .is-No4 {
        .clear(left);
    }

    .u-battle-jcl {
        .x;
        img {
            .w(100px);
            filter: brightness(0.9);
            &:hover {
                filter: brightness(1);
            }
        }
        .u-battle-btn {
            .ml(12px);
        }
    }
    .is-btn-No1,
    .is-btn-No2,
    .is-btn-No3 {
        .mt(24px);
        img {
            .w(120px);
        }
    }
    .is_other {
        .pa;
        .rt(180px,40px);
    }
}
