// .m-rank-video{
//     max-width:1080px;
//     .auto(x);
// }

.m-rank-video{
    .mt(40px);
}

.m-rank-video-title{
    .pr;

    .u-extend{
        .pa;.rt(0,20px);
    }
    .u-server{
        .fl;
    }
    .u-pages{
        .fl;
        .el-pager li{
            background:none;
            color:#0cf;

            &.active{
                color:#ffff00;
            }
            &:hover{
                color:#f39;
            }
        }
        .btn-next, .btn-prev{
            background:none;
            color:#0cf;
    
            &:hover{
                color:#f39;
            }
        }
        button:disabled{
            color:#444;
        }
    }
}

.m-rank-video-content{
    .mt(40px);
}

.m-rank-video-item{
    .mb(20px);

    .u-video{
        .db;
        background-color:#222;
        .h(200px);
        .clip;

        .u-live-cover{.size(100%);}

        .u-live-null{
            .size(120px);
            .db;
            margin:40px auto;
        }

        transition:0.1s ease-in-out;
        &:hover{
            background-color:#111;
        }

        .pr;
        .u-status{
            .pa;.rb(10px);
            background-color:#0cf;
            color:#fff;
            .r(2px);
            font-style:normal;
            .fz(12px,2);
            padding:0 10px;

            &.on{
                background-color:#49c10f;
            }
        }


        @keyframes playerRotate{
            0%{transform:rotate(0deg)}
            30%{transform:rotate(360deg)}
            100%{transform:rotate(360deg)}
        }
        .u-player{
            .size(46px);.r(46px);
            .pa;.lt(40%,30%);
            transform: translate(-50%,-50%);
            
            background-color:rgba(0,0,0,.68);
            padding:20px;
            svg{
                .size(100%);
                .pr;left:4px;
            }
            transform-origin: center;
            animation: playerRotate 4s ease-in-out infinite ;
        }
    }

    .u-info{
        .mt(15px);
        background-color:#111;
        .clearfix;
        .clip;
        a{
            color:#0cf;
        }
        a:hover{
            box-shadow: 0 1px 0 #0cf;
        }
    }

    .u-team-logo{
        .fl;.size(68px);
        .mr(10px);
    }

    .u-team,.u-room{
        .fz(14px,2);
        .nobreak;
    }
    .u-team{
        .mt(5px);
    }
    .u-label{
        color:#999;
    }
}

.m-rank-video-pages{
    margin-top:40px;
    margin-bottom:40px;
    .x;
}